# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
.deploy*/

# misc
.DS_Store

Thumbs.db
db.json

yarn.lock

# log
*.log*

# ide
.vscode
.idea
