[submodule "themes/diaspora"]
	path = themes/diaspora
	url = https://github.com/Yinbai/hexo-theme-next.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/Yinbai/hexo-theme-next.git
